* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: '';
}

:root {
   --c-light: #fefefe;
   --c-dark: #1d222a;
   --c-primary: #38c37b;

   --f-title: 'Poppins', sans-serif;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--c-dark);
   color: var(--c-primary);
}

a {
   text-decoration: none;
   color: inherit;
}

/* ------------------------
   CABEZERA
------------------------ */
.title {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.title h1 {
   position: relative;
   translate: 0 -50px;
   font-family: var(--f-title);
   font-size: 6em;
   font-weight: bold;
   user-select: none;
}


.title__scroll {
   position: absolute;
   transform: translateY(350px);
   color: var(--c-light);
   font-size: 5rem;
   animation: scroll-jump 1s infinite ease-in-out;
}

@keyframes scroll-jump {
   0% {
      translate: 0 5px;
   }

   50% {
      translate: 0 -5px;
   }

   100% {
      translate: 0 5px;
   }
}


/* ------------------------
   CUERPO
------------------------ */

main section {
   height: 100vh;
   background-color: var(--c-primary);
   color: var(--c-dark)
}

main section:nth-child(even) {
   background-color: var(--c-light);

}

section>* {
   padding-left: 5em;
}

section h2 {
   font-family: var(--f-title);
   padding-top: 2em;
   color: var(--c-dark);
   font-size: 4em;
   max-width: 50%;
   border-bottom: 1px solid transparent;

}

section h4 {
   font-family: var(--f-title);
   font-size: 3em;
   font-weight: normal;
   color: #1d222add;
}

section * > p {
   max-width: 50%;
   font-family: 'Monserrat';
   font-weight: normal;
   font-size: 2rem;

}


/* Cards */
.cards{
   background-color: skyblue;
   width: 80vw;
   height: 50vh;
   border-radius: 20px;
   margin: 2rem;
   padding: 2rem;
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
}
/* Aureka */
.cards_div{
   background-color: var(--c-primary);

}




/* Footer */
footer {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   height: 15vh;
}

.rss {
   width: 50vw;
   display: flex;
   justify-content: space-around;
}

.rss p {
   padding: 1rem;
   display: block;
   font-size: 2em;
   transition: 300ms;
}

.rss p:hover {
   transition: 300ms;
   transform: scale(150%);
}