* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: '';
}

:root {
   --c-light: #fefefe;
   --c-dark: #1d222a;
   --c-primary: #38c37b;

   --f-title: 'Poppins', sans-serif;
   --f-code: 'Fira Code', serif;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--c-dark);
   color: var(--c-primary);
}

a {
   text-decoration: none;
   color: inherit;
}


/* ------------------------
   CABEZERA
------------------------ */
.title {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title-h1 {
   position: relative;
   font-family: var(--f-title);
   font-size: 6em;
   font-weight: bold;
   user-select: none;
   text-decoration: underline 2px;
   text-decoration-color: var(--c-light);
   text-underline-offset: 15px;
}

.title-p {
   color: var(--c-light);
   font-weight: lighter;
   font-family: var(--f-code);
   font-size: 2rem;
   margin-top: 2rem;
   width: 30%;
}


/* Footer */
footer {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   height: 15vh;
}

.rss {
   width: 50vw;
   display: flex;
   justify-content: space-around;

}

.rss a {
   padding: 1rem;
   display: block;
   font-size: 2em;
   transition: 300ms;
}

.rss a:hover {
   transition: .3s ease;
   transform: scale(155%);
   color: var(--c-light);
   text-shadow:
      0 0 25px var(--c-primary),
      0 0 50px var(--c-primary),
      0 0 75px var(--c-primary);
}