* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: '';
}

:root {
   --c-light: #fefefe;
   --c-dark: #1d222a;
   --c-primary: #38c37b;

   --f-title: 'Poppins', sans-serif;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--c-dark);
   color: var(--c-primary);
}

a {
   text-decoration: none;
   color: inherit;
}

/* ------------------------
   CABEZERA
------------------------ */
.title {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.title h1 {
   position: relative;
   translate: 0 -50px;
   font-family: var(--f-title);
   font-size: 6em;
   font-weight: bold;
   user-select: none;
   opacity: 0;
}


.title__scroll {
   position: absolute;
   transform: translateY(350px);
   animation: scroll-jump 1s infinite;
   color: var(--c-light);
   font-size: 5rem;
}

@keyframes scroll-jump {
   0% {
      translate: 0 5px;

   }

   50% {
      translate: 0 -5px;
   }

   100% {
      translate: 0 5px;
   }
}



.title__animation{
   height: 6em;
   overflow: hidden;
}
.title__animation > h1{
   padding: 0.25rem 0.75rem;
   height: 3rem;
   margin-bottom: 3rem;
   display: inline-block;
}
.title__animation{
   animation: text-animation 10s infinite;
}
.first{
   background-color: pink;
}
.second{
   background-color: skyblue;
}

@keyframes text-animation {
   0%{margin-top: 0;}
   10%{margin-top: 0;}
   20%{margin-top: -3rem;}
   30%{margin-top: -3rem;}
   40%{margin-top: -6rem;}
   60%{margin-top: -6rem;}
   70%{margin-top: -3rem;}
   80%{margin-top: -3rem;}
   90%{margin-top: 0;}
   100%{margin-top: 0;}
   
}

/* ------------------------
   CUERPO
------------------------ */

main section {
   height: 100vh;
   background-color: var(--c-primary);
   color: var(--c-dark)
}

main section:nth-child(even) {
   background-color: var(--c-light);

}

section>* {
   padding-left: 5em;
}

section h2 {
   font-family: var(--f-title);
   padding-top: 2em;
   color: var(--c-dark);
   font-size: 4em;
   max-width: 50%;
   border-bottom: 1px solid transparent;

}

section h4 {
   font-family: var(--f-title);
   font-size: 3em;
   font-weight: normal;
   color: #1d222add;
}

section p {
   max-width: 50%;
   font-family: 'Monserrat';
   font-weight: normal;
   font-size: 2rem;

}

/* Footer */
footer {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   height: 15vh;
}

.rss {
   width: 50vw;
   display: flex;
   justify-content: space-around;
}

.rss p {
   padding: 1rem;
   display: block;
   font-size: 2em;
   transition: 300ms;
}

.rss p:hover {
   transition: 300ms;
   transform: scale(150%);
}